#wheelbarrow {
  position: absolute;
  top: 220px;
  left: 80px;
  width: 688px;
  height: 514px;
  z-index: 1; /* Set a high z-index to ensure the wheelbarrow appears above other elements */
  background: url(../images/wheelbarrow.png) no-repeat;
}

#wheelbarrow-foreground {
  position: absolute;
  top: 220px;
  left: 80px;
  z-index: 2; /* Set a higher z-index than the background to ensure it appears above it */
  background: url(../images/wheelbarrow-foreground.png) no-repeat;
  pointer-events: none;
}
